<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TempAttendanceRecordMapper">

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO temp_attendance_record
            (temp_record_id, batch_id, project_name, name, check_date, morning, afternoon, source_file)
        VALUES
        <foreach collection="list" item="r" separator=",">
            (#{r.tempRecordId}, #{r.batchId}, #{r.projectName}, #{r.name}, #{r.checkDate},
             #{r.morning}, #{r.afternoon}, #{r.sourceFile})
        </foreach>
    </insert>

    <select id="listByBatchId" resultType="org.example.entity.TempAttendanceRecord">
        SELECT * FROM temp_attendance_record WHERE batch_id = #{batchId} ORDER BY name, check_date
    </select>

    <delete id="deleteByBatchId">
        DELETE FROM temp_attendance_record WHERE batch_id = #{batchId}
    </delete>

</mapper>
